#mysearch:focus + .input-group-addon {
	z-index: 10;
}

#search-btn:hover {
	cursor: pointer;
	/*color: gold;*/
	background-color: #ffc107;
}

.icon-background1 {
    color: black;
}

i.fa-check-circle {
    color: white;
}

